<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>896</integer>
    <key>capHeight</key>
    <integer>896</integer>
    <key>copyright</key>
    <string>Copyright 2008-2019 The Homecomputer Fonts Project Authors (https://github.com/jenskutilek/homecomputer-fonts). Based on the Commodore 64 character set.</string>
    <key>descender</key>
    <integer>-128</integer>
    <key>familyName</key>
    <string>Sixtyfour</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>384</integer>
      </dict>
      <dict>
        <key>x</key>
        <integer>512</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2008/09/05 18:17:00</string>
    <key>openTypeHheaAscender</key>
    <integer>896</integer>
    <key>openTypeHheaDescender</key>
    <integer>-128</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jens Kutilek</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.kutilek.de/</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Jens Kutilek</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>896</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-128</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>jens</string>
    <key>openTypeOS2WeightClass</key>
    <integer>200</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>896</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>128</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>637</integer>
      <integer>643</integer>
      <integer>765</integer>
      <integer>771</integer>
      <integer>893</integer>
      <integer>899</integer>
    </array>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-131</integer>
      <integer>-125</integer>
      <integer>-3</integer>
      <integer>3</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>134</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>262</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-128</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>128</integer>
    <key>styleMapFamilyName</key>
    <string>Sixtyfour Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>640</integer>
  </dict>
</plist>
