<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.case</key>
    <string>A_.case.glif</string>
    <key>A.case.2</key>
    <string>A_.case.2.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.case</key>
    <string>E_.case.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.case</key>
    <string>I_.case.glif</string>
    <key>I.case.2</key>
    <string>I_.case.2.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.case</key>
    <string>N_.case.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.case</key>
    <string>O_.case.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.case</key>
    <string>U_.case.glif</string>
    <key>U.case.2</key>
    <string>U_.case.2.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.case</key>
    <string>Y_.case.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>blackCircle</key>
    <string>blackC_ircle.glif</string>
    <key>boxHeavyDownAndHorizontal</key>
    <string>boxH_eavyD_ownA_ndH_orizontal.glif</string>
    <key>boxHeavyDownAndLeft</key>
    <string>boxH_eavyD_ownA_ndL_eft.glif</string>
    <key>boxHeavyDownAndRight</key>
    <string>boxH_eavyD_ownA_ndR_ight.glif</string>
    <key>boxHeavyHorizontal</key>
    <string>boxH_eavyH_orizontal.glif</string>
    <key>boxHeavyUpAndHorizontal</key>
    <string>boxH_eavyU_pA_ndH_orizontal.glif</string>
    <key>boxHeavyUpAndLeft</key>
    <string>boxH_eavyU_pA_ndL_eft.glif</string>
    <key>boxHeavyUpAndRight</key>
    <string>boxH_eavyU_pA_ndR_ight.glif</string>
    <key>boxHeavyVertical</key>
    <string>boxH_eavyV_ertical.glif</string>
    <key>boxHeavyVerticalAndHorizontal</key>
    <string>boxH_eavyV_erticalA_ndH_orizontal.glif</string>
    <key>boxHeavyVerticalAndLeft</key>
    <string>boxH_eavyV_erticalA_ndL_eft.glif</string>
    <key>boxHeavyVerticalAndRight</key>
    <string>boxH_eavyV_erticalA_ndR_ight.glif</string>
    <key>boxLightArcDownAndLeft</key>
    <string>boxL_ightA_rcD_ownA_ndL_eft.glif</string>
    <key>boxLightArcDownAndRight</key>
    <string>boxL_ightA_rcD_ownA_ndR_ight.glif</string>
    <key>boxLightArcUpAndLeft</key>
    <string>boxL_ightA_rcU_pA_ndL_eft.glif</string>
    <key>boxLightArcUpAndRight</key>
    <string>boxL_ightA_rcU_pA_ndR_ight.glif</string>
    <key>boxLightDiagonalCross</key>
    <string>boxL_ightD_iagonalC_ross.glif</string>
    <key>boxLightDiagonalUpperLeftToLowerRight</key>
    <string>boxL_ightD_iagonalU_pperL_eftT_oL_owerR_ight.glif</string>
    <key>boxLightDiagonalUpperRightToLowerLeft</key>
    <string>boxL_ightD_iagonalU_pperR_ightT_oL_owerL_eft.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>checkmark</key>
    <string>checkmark.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>clubBlackSuit</key>
    <string>clubB_lackS_uit.glif</string>
    <key>clubWhiteSuit</key>
    <string>clubW_hiteS_uit.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>diamondBlackSuit</key>
    <string>diamondB_lackS_uit.glif</string>
    <key>diamondWhiteSuit</key>
    <string>diamondW_hiteS_uit.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>fullBlock</key>
    <string>fullB_lock.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>heartBlackSuit</key>
    <string>heartB_lackS_uit.glif</string>
    <key>heartWhiteSuit</key>
    <string>heartW_hiteS_uit.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>inverseBullet</key>
    <string>inverseB_ullet.glif</string>
    <key>inverseWhiteCircle</key>
    <string>inverseW_hiteC_ircle.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftBlock</key>
    <string>leftB_lock.glif</string>
    <key>leftFiveEighthsBlock</key>
    <string>leftF_iveE_ighthsB_lock.glif</string>
    <key>leftOneEighthBlock</key>
    <string>leftO_neE_ighthB_lock.glif</string>
    <key>leftOneQuarterBlock</key>
    <string>leftO_neQ_uarterB_lock.glif</string>
    <key>leftSevenEighthsBlock</key>
    <string>leftS_evenE_ighthsB_lock.glif</string>
    <key>leftThreeEighthsBlock</key>
    <string>leftT_hreeE_ighthsB_lock.glif</string>
    <key>leftThreeQuartersBlock</key>
    <string>leftT_hreeQ_uartersB_lock.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lowerFiveEighthsBlock</key>
    <string>lowerF_iveE_ighthsB_lock.glif</string>
    <key>lowerHalfBlock</key>
    <string>lowerH_alfB_lock.glif</string>
    <key>lowerLeftBlackTriangle</key>
    <string>lowerL_eftB_lackT_riangle.glif</string>
    <key>lowerLeftBlock</key>
    <string>lowerL_eftB_lock.glif</string>
    <key>lowerOneEighthBlock</key>
    <string>lowerO_neE_ighthB_lock.glif</string>
    <key>lowerOneQuarterBlock</key>
    <string>lowerO_neQ_uarterB_lock.glif</string>
    <key>lowerRightBlackTriangle</key>
    <string>lowerR_ightB_lackT_riangle.glif</string>
    <key>lowerRightBlock</key>
    <string>lowerR_ightB_lock.glif</string>
    <key>lowerSevenEighthsBlock</key>
    <string>lowerS_evenE_ighthsB_lock.glif</string>
    <key>lowerThreeEighthsBlock</key>
    <string>lowerT_hreeE_ighthsB_lock.glif</string>
    <key>lowerThreeQuartersBlock</key>
    <string>lowerT_hreeQ_uartersB_lock.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rightBlock</key>
    <string>rightB_lock.glif</string>
    <key>rightOneEighthBlock</key>
    <string>rightO_neE_ighthB_lock.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shadedark</key>
    <string>shadedark.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>spadeBlackSuit</key>
    <string>spadeB_lackS_uit.glif</string>
    <key>spadeWhiteSuit</key>
    <string>spadeW_hiteS_uit.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniE002</key>
    <string>uniE_002.glif</string>
    <key>uniE003</key>
    <string>uniE_003.glif</string>
    <key>uniE004</key>
    <string>uniE_004.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uniE006</key>
    <string>uniE_006.glif</string>
    <key>uniE007</key>
    <string>uniE_007.glif</string>
    <key>uniE008</key>
    <string>uniE_008.glif</string>
    <key>uniE009</key>
    <string>uniE_009.glif</string>
    <key>uniE00A</key>
    <string>uniE_00A_.glif</string>
    <key>uniE00B</key>
    <string>uniE_00B_.glif</string>
    <key>uniE00C</key>
    <string>uniE_00C_.glif</string>
    <key>uniE00E</key>
    <string>uniE_00E_.glif</string>
    <key>uniE00F</key>
    <string>uniE_00F_.glif</string>
    <key>uniE010</key>
    <string>uniE_010.glif</string>
    <key>uniE011</key>
    <string>uniE_011.glif</string>
    <key>uniE012</key>
    <string>uniE_012.glif</string>
    <key>uniE013</key>
    <string>uniE_013.glif</string>
    <key>uniE014</key>
    <string>uniE_014.glif</string>
    <key>uniE015</key>
    <string>uniE_015.glif</string>
    <key>uniE016</key>
    <string>uniE_016.glif</string>
    <key>uniE017</key>
    <string>uniE_017.glif</string>
    <key>uniE018</key>
    <string>uniE_018.glif</string>
    <key>uniE019</key>
    <string>uniE_019.glif</string>
    <key>uniE01A</key>
    <string>uniE_01A_.glif</string>
    <key>uniE01B</key>
    <string>uniE_01B_.glif</string>
    <key>uniE01C</key>
    <string>uniE_01C_.glif</string>
    <key>uniE01D</key>
    <string>uniE_01D_.glif</string>
    <key>uniE01E</key>
    <string>uniE_01E_.glif</string>
    <key>uniE01F</key>
    <string>uniE_01F_.glif</string>
    <key>uniE020</key>
    <string>uniE_020.glif</string>
    <key>uniE021</key>
    <string>uniE_021.glif</string>
    <key>uniE022</key>
    <string>uniE_022.glif</string>
    <key>uniE023</key>
    <string>uniE_023.glif</string>
    <key>uniE024</key>
    <string>uniE_024.glif</string>
    <key>uniE025</key>
    <string>uniE_025.glif</string>
    <key>uniE026</key>
    <string>uniE_026.glif</string>
    <key>uniE027</key>
    <string>uniE_027.glif</string>
    <key>uniE028</key>
    <string>uniE_028.glif</string>
    <key>uniE029</key>
    <string>uniE_029.glif</string>
    <key>uniE02A</key>
    <string>uniE_02A_.glif</string>
    <key>uniE02B</key>
    <string>uniE_02B_.glif</string>
    <key>uniE02C</key>
    <string>uniE_02C_.glif</string>
    <key>uniE02D</key>
    <string>uniE_02D_.glif</string>
    <key>uniE02E</key>
    <string>uniE_02E_.glif</string>
    <key>uniE02F</key>
    <string>uniE_02F_.glif</string>
    <key>uniE030</key>
    <string>uniE_030.glif</string>
    <key>uniE031</key>
    <string>uniE_031.glif</string>
    <key>uniE032</key>
    <string>uniE_032.glif</string>
    <key>uniE033</key>
    <string>uniE_033.glif</string>
    <key>uniE034</key>
    <string>uniE_034.glif</string>
    <key>uniE035</key>
    <string>uniE_035.glif</string>
    <key>uniE036</key>
    <string>uniE_036.glif</string>
    <key>uniE037</key>
    <string>uniE_037.glif</string>
    <key>uniE038</key>
    <string>uniE_038.glif</string>
    <key>uniE039</key>
    <string>uniE_039.glif</string>
    <key>uniE03A</key>
    <string>uniE_03A_.glif</string>
    <key>uniE03B</key>
    <string>uniE_03B_.glif</string>
    <key>uniE03C</key>
    <string>uniE_03C_.glif</string>
    <key>uniE03D</key>
    <string>uniE_03D_.glif</string>
    <key>uniE03E</key>
    <string>uniE_03E_.glif</string>
    <key>uniE03F</key>
    <string>uniE_03F_.glif</string>
    <key>uniE040</key>
    <string>uniE_040.glif</string>
    <key>uniE041</key>
    <string>uniE_041.glif</string>
    <key>uniE042</key>
    <string>uniE_042.glif</string>
    <key>uniE043</key>
    <string>uniE_043.glif</string>
    <key>uniE044</key>
    <string>uniE_044.glif</string>
    <key>uniE045</key>
    <string>uniE_045.glif</string>
    <key>uniE046</key>
    <string>uniE_046.glif</string>
    <key>uniE047</key>
    <string>uniE_047.glif</string>
    <key>uniE048</key>
    <string>uniE_048.glif</string>
    <key>uniE049</key>
    <string>uniE_049.glif</string>
    <key>uniE04A</key>
    <string>uniE_04A_.glif</string>
    <key>uniE04B</key>
    <string>uniE_04B_.glif</string>
    <key>uniE04C</key>
    <string>uniE_04C_.glif</string>
    <key>uniE04D</key>
    <string>uniE_04D_.glif</string>
    <key>uniE04E</key>
    <string>uniE_04E_.glif</string>
    <key>uniE04F</key>
    <string>uniE_04F_.glif</string>
    <key>uniE050</key>
    <string>uniE_050.glif</string>
    <key>uniE051</key>
    <string>uniE_051.glif</string>
    <key>uniE052</key>
    <string>uniE_052.glif</string>
    <key>uniE053</key>
    <string>uniE_053.glif</string>
    <key>uniE054</key>
    <string>uniE_054.glif</string>
    <key>uniE056</key>
    <string>uniE_056.glif</string>
    <key>uniE057</key>
    <string>uniE_057.glif</string>
    <key>uniE058</key>
    <string>uniE_058.glif</string>
    <key>uniE059</key>
    <string>uniE_059.glif</string>
    <key>uniE05A</key>
    <string>uniE_05A_.glif</string>
    <key>uniE05B</key>
    <string>uniE_05B_.glif</string>
    <key>uniE05C</key>
    <string>uniE_05C_.glif</string>
    <key>uniE05D</key>
    <string>uniE_05D_.glif</string>
    <key>uniE05E</key>
    <string>uniE_05E_.glif</string>
    <key>uniE05F</key>
    <string>uniE_05F_.glif</string>
    <key>uniE060</key>
    <string>uniE_060.glif</string>
    <key>uniE061</key>
    <string>uniE_061.glif</string>
    <key>uniE062</key>
    <string>uniE_062.glif</string>
    <key>uniE063</key>
    <string>uniE_063.glif</string>
    <key>uniE064</key>
    <string>uniE_064.glif</string>
    <key>uniE065</key>
    <string>uniE_065.glif</string>
    <key>uniE066</key>
    <string>uniE_066.glif</string>
    <key>uniE067</key>
    <string>uniE_067.glif</string>
    <key>uniE068</key>
    <string>uniE_068.glif</string>
    <key>uniE069</key>
    <string>uniE_069.glif</string>
    <key>uniE06B</key>
    <string>uniE_06B_.glif</string>
    <key>uniE06D</key>
    <string>uniE_06D_.glif</string>
    <key>uniE06E</key>
    <string>uniE_06E_.glif</string>
    <key>uniE06F</key>
    <string>uniE_06F_.glif</string>
    <key>uniE070</key>
    <string>uniE_070.glif</string>
    <key>uniE071</key>
    <string>uniE_071.glif</string>
    <key>uniE072</key>
    <string>uniE_072.glif</string>
    <key>uniE073</key>
    <string>uniE_073.glif</string>
    <key>uniE074</key>
    <string>uniE_074.glif</string>
    <key>uniE075</key>
    <string>uniE_075.glif</string>
    <key>uniE076</key>
    <string>uniE_076.glif</string>
    <key>uniE077</key>
    <string>uniE_077.glif</string>
    <key>uniE078</key>
    <string>uniE_078.glif</string>
    <key>uniE079</key>
    <string>uniE_079.glif</string>
    <key>uniE07A</key>
    <string>uniE_07A_.glif</string>
    <key>uniE07B</key>
    <string>uniE_07B_.glif</string>
    <key>uniE07C</key>
    <string>uniE_07C_.glif</string>
    <key>uniE07D</key>
    <string>uniE_07D_.glif</string>
    <key>uniE07E</key>
    <string>uniE_07E_.glif</string>
    <key>uniE07F</key>
    <string>uniE_07F_.glif</string>
    <key>uniE080</key>
    <string>uniE_080.glif</string>
    <key>uniE081</key>
    <string>uniE_081.glif</string>
    <key>uniE082</key>
    <string>uniE_082.glif</string>
    <key>uniE083</key>
    <string>uniE_083.glif</string>
    <key>uniE084</key>
    <string>uniE_084.glif</string>
    <key>uniE085</key>
    <string>uniE_085.glif</string>
    <key>uniE086</key>
    <string>uniE_086.glif</string>
    <key>uniE087</key>
    <string>uniE_087.glif</string>
    <key>uniE088</key>
    <string>uniE_088.glif</string>
    <key>uniE089</key>
    <string>uniE_089.glif</string>
    <key>uniE08A</key>
    <string>uniE_08A_.glif</string>
    <key>uniE08B</key>
    <string>uniE_08B_.glif</string>
    <key>uniE08C</key>
    <string>uniE_08C_.glif</string>
    <key>uniE08D</key>
    <string>uniE_08D_.glif</string>
    <key>uniE08E</key>
    <string>uniE_08E_.glif</string>
    <key>uniE08F</key>
    <string>uniE_08F_.glif</string>
    <key>uniE090</key>
    <string>uniE_090.glif</string>
    <key>uniE091</key>
    <string>uniE_091.glif</string>
    <key>uniE092</key>
    <string>uniE_092.glif</string>
    <key>uniE093</key>
    <string>uniE_093.glif</string>
    <key>uniE094</key>
    <string>uniE_094.glif</string>
    <key>uniE095</key>
    <string>uniE_095.glif</string>
    <key>uniE096</key>
    <string>uniE_096.glif</string>
    <key>uniE097</key>
    <string>uniE_097.glif</string>
    <key>uniE098</key>
    <string>uniE_098.glif</string>
    <key>uniE099</key>
    <string>uniE_099.glif</string>
    <key>uniE09A</key>
    <string>uniE_09A_.glif</string>
    <key>uniE09B</key>
    <string>uniE_09B_.glif</string>
    <key>uniE09C</key>
    <string>uniE_09C_.glif</string>
    <key>uniE09D</key>
    <string>uniE_09D_.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upperHalfBlock</key>
    <string>upperH_alfB_lock.glif</string>
    <key>upperLeftAndLowerLeftAndLowerRightBlock</key>
    <string>upperL_eftA_ndL_owerL_eftA_ndL_owerR_ightB_lock.glif</string>
    <key>upperLeftAndLowerRightBlock</key>
    <string>upperL_eftA_ndL_owerR_ightB_lock.glif</string>
    <key>upperLeftAndUpperRightAndLowerLeftBlock</key>
    <string>upperL_eftA_ndU_pperR_ightA_ndL_owerL_eftB_lock.glif</string>
    <key>upperLeftAndUpperRightAndLowerRightBlock</key>
    <string>upperL_eftA_ndU_pperR_ightA_ndL_owerR_ightB_lock.glif</string>
    <key>upperLeftBlackTriangle</key>
    <string>upperL_eftB_lackT_riangle.glif</string>
    <key>upperLeftBlock</key>
    <string>upperL_eftB_lock.glif</string>
    <key>upperOneEighthBlock</key>
    <string>upperO_neE_ighthB_lock.glif</string>
    <key>upperRightAndLowerLeftAndLowerRightBlock</key>
    <string>upperR_ightA_ndL_owerL_eftA_ndL_owerR_ightB_lock.glif</string>
    <key>upperRightAndLowerLeftBlock</key>
    <string>upperR_ightA_ndL_owerL_eftB_lock.glif</string>
    <key>upperRightBlackTriangle</key>
    <string>upperR_ightB_lackT_riangle.glif</string>
    <key>upperRightBlock</key>
    <string>upperR_ightB_lock.glif</string>
    <key>upperlefttolowerrightFillSquare</key>
    <string>upperlefttolowerrightF_illS_quare.glif</string>
    <key>upperrighttolowerleftFillSquare</key>
    <string>upperrighttolowerleftF_illS_quare.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whiteCircle</key>
    <string>whiteC_ircle.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
