sources:
  - Sixtyfour.glyphs
axisOrder:
  - SCAN
  - BLED
familyName: Sixtyfour
buildOTF: false
# buildTTF: false
# buildWebfont: false
outputDir: ../fonts
autohintTTF: false
flattenComponents: true
reverseOutlineDirection: false
removeOutlineOverlaps: false
stat:
  Sixtyfour[BLED,SCAN].ttf:
  - name: Scanlines
    tag: SCAN
    values:
    - name: Delicate
      value: -100
    - name: Slight
      value: -90
    - name: Evenly
      value: -65            
    - name: Close
      value: -30
      flags: 2
    - name: Touching
      value: -3
    - name: Overlapping
      value: 18
    - name: Overexposed
      value: 57
    - name: Maximum
      value: 100
  - name: Bleed
    tag: BLED
    values:
    - name: Default
      value: 0
      flags: 2
    - name: Moderate
      value: 40
    - name: Strong
      value: 100
recipeProvider: googlefonts
recipe:
  ../fonts/variable/Sixtyfour-Color[BLED,SCAN,XELA,YELA].ttf:
  - source: Sixtyfour.glyphs
  - fontmake_args: --filter ...  --filter FlattenComponentsFilter --filter DecomposeTransformedComponentsFilter
      --keep-overlaps
    operation: buildVariable
  - fixargs: ''
    operation: fix
  - operation: paintcompiler
    args: --add-axis "XELA:-100:0:100:Horizontal Element Alignment" --add-axis "YELA:-100:0:100:Vertical Element Alignment"
  - operation: rename
    name: Sixtyfour Color
